#version=RHEL9

text
cdrom

keyboard --xlayouts='us'
lang en_US.UTF-8
timezone Africa/Cairo --utc

rootpw --plaintext redhat123

user --name=marwa --password=redhat123 --plaintext --groups=wheel

network --bootproto=dhcp --device=link --activate
network --hostname=kickstart-client.lab.local

clearpart --all --initlabel
autopart

bootloader --location=mbr

firstboot --disable
selinux --enforcing
firewall --enabled --service=ssh

reboot

%packages
@^minimal-environment
vim
wget
curl
net-tools
bash-completion
%end

%post
echo "Kickstart installation completed successfully" > /root/kickstart-lab.txt
systemctl enable sshd
%end
